<section class="advantages-section container">
  <h2 class="visually-hidden">Advantages of Yacht Rental</h2>
  <div class="advantages-wrapper">
    <ol class="advantages-list">
      <li class="advantage-item">
        <div class="advantage-number">01</div>
        <p class="advantage-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="advantage-item">
        <div class="advantage-number">02</div>
        <p class="advantage-text">Fishing: try to catch your own dinner</p>
      </li>
      <li class="advantage-item">
        <div class="advantage-number">03</div>
        <p class="advantage-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advantage-item">
        <div class="advantage-number">04</div>
        <p class="advantage-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>
    <picture class="advantages-picture">
      <source
        srcset="
          ./img/advantages/insaid-desktop.jpg    1x,
          ./img/advantages/insaid-desktop@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/advantages/insaid-tablet.jpg    1x,
          ./img/advantages/insaid-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/advantages/insaid-mobile.jpg    1x,
          ./img/advantages/insaid-mobile@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="advantages-image"
        src="./img/advantages/insaid-mobile.jpg"
        alt="Luxury yacht deck with table and sea view"
        width="335"
        height="424"
        loading="lazy"
      />
    </picture>
  </div>
</section>
