<footer class="footer-container">
  <div class="basement">
    <nav class="navigation">
      <a class="footer-logo" href="../index.html">yachtjet</a>
      <ul class="yatch-links">
        <li class="yatch-link-item"><a href="#about">About</a></li>
        <li class="yatch-link-item"><a href="#yachts">Yachts</a></li>
        <li class="yatch-link-item"><a href="#reviews">Reviews</a></li>
      </ul>
      <div class="social-wrapper">
        <ul class="socials">
          <li class="circle-link">
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              class="svg-link"
            >
              <svg class="social-icon" width="24" height="24">
                <use href="../img/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="circle-link">
            <a
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              class="svg-link"
            >
              <svg class="social-icon" width="24" height="24">
                <use href="../img/icons.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li class="circle-link">
            <a
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              class="svg-link"
            >
              <svg class="social-icon" width="24" height="24">
                <use href="../img/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="footer-message container">
      No matter which yacht you choose, our experienced crew will ensure that
      your journey is smooth and enjoyable.
    </div>
    <div class="footer-legal">
      <p>2023. Yacht Adventures</p>
      <a href="#">Privacy Police</a>
    </div>
  </div>
</footer>
