<div class="mobile-menu is-open">
  <div class="mobile-menu-div">
    <div class="wrap-mobile-menu">
      <a class="mobile-logo" href="./index.html">yachtjet</a>
      <button class="btn-mobile-menu" type="button">
        <svg class="icon-mobile-menu" width="28" height="28">
          <use href="/img/icons.svg#close-sharp"></use>
        </svg>
      </button>
    </div>
  </div>
  <nav class="nav-mobile-menu">
    <ul class="list-mobile-menu">
      <li class="item-mobile-menu">
        <a class="link-mobile-menu" href="#about">About</a>
      </li>
      <li class="item-mobile-menu">
        <a class="link-mobile-menu" href="#yachts">Yachts</a>
      </li>
      <li class="item-mobile-menu">
        <a class="link-mobile-menu" href="#reviews">Reviews</a>
      </li>
    </ul>
  </nav>
  <nav class="social-nav-mobile-menu">
    <ul class="social-list-mobile-menu">
      <li class="social-item-mobile-menu">
        <a
          href="https://www.instagram.com/goitclub/"
          class="social-link-mobile-menu"
        >
          <svg class="social-icon-mobile-menu" width="24" height="24">
            <use href="/img/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item-mobile-menu">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="social-link-mobile-menu"
        >
          <svg class="social-icon-mobile-menu" width="24" height="24">
            <use href="/img/icons.svg#youtube"></use>
          </svg>
        </a>
      </li>
      <li class="social-item-mobile-menu">
        <a
          href="https://www.facebook.com/goITclub/"
          class="social-link-mobile-menu"
        >
          <svg class="social-icon-mobile-menu" width="24" height="24">
            <use href="/img/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</div>
