<section class="section reviews">
    <div class="container">
            <h2 class="title-reviews">YachtJet take pride in providing the best possible service and experience to our customers</h2>
            <p class="subtitle-reviews">Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for it - read on to find out what they have to say about their journey with us.</p>
            <ul class="list-reviews">
                <li class="item-reviews">
                    <img class="img image-reviews" src="../img/reviews/JohnWax1x.jpg" 
                srcset="../img/reviews/JohnWax1x.jpg 1x, ../reviews/img/JohnWax@2x.jpg 2x" alt="JohnWax" width="56" height="56"> 
                <div class="wrap-reviews">
                    <h3 class="caption-reviews">John Wax</h3>
                    <p class="text-rewiews">I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever. The yacht was spacious, comfortable, and luxurious, and the crew took care of everything.</p>
                </div>
                </li>
                <li class="item-reviews">
                    <img class="img image-reviews" src="../img/reviews/VictoriaRomashenko1x.jpg" 
                    srcset="../img/reviews/VictoriaRomashenkox.jpg 1x, ../reviews/img/VictoriaRomashenko@2x.jpg 2x" alt="VictoriaRomashenko" width="56" height="56">
                    <div class="wrap-reviews">
                        <h3 class="caption-reviews">Victoria Romashenko</h3>
                        <p class="text-rewiews">The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. The yacht was beautifully designed, with all the amenities we needed, and the crew was attentive and friendly.</p>
                    </div>
                </li>
                <li class="item-reviews">
                    <img class="img image-reviews" src="../img/reviews/IhorTrachuk1x.jpg" 
                    srcset="../img/reviews/IhorTrachuk1x.jpg 1x, ../reviews/img/IhorTrachuk@2x.jpg 2x" alt="IhorTrachuk" width="56" height="56">
                    <div class="wrap-reviews">
                        <h3 class="caption-reviews">Ihor Trachuk</h3>
                        <p class="text-rewiews">The Azimut 80 was the most luxurious yacht I've ever been on. The cabins were spacious and elegant, and the outdoor areas were perfect for relaxing and entertaining. Worth every penny!</p>
                    </div>
                </li>
            </ul>
</div>
 </section>