<section id="yachts" class="yachts-section">
  <div class="container">
    <h2 class="yachts-title">Choose your dream yacht and sail away into the sunset</h2>
    <ul class="yachts-list">
      <li class="yachts-item-list">
        <picture>
          <source 
            srcset="./img/yachts-img/img-mob-yaht-x1.jpg 1x,
                    ./img/yachts-img/img-mob-yaht-x2.jpg 2x"/>
          <img 
            class="yacht-img" 
            src="./img/yachts-img/img-mob-yaht-x1.jpg"
            alt="Yacht 1"/>
        </picture>

        <div class="name-yacht-container">
          <p class="title-name-yacht">arrow</p>
          <p class="type-of-yacht">luxury yachts</p>
        </div>
        <div class="line"></div>
      </li>
      <li class="yachts-item-list second-yacht">
       
      </li>
      <li class="yachts-item-list third-yacht">
        
      </li>
    </ul>
  </div>
</section>