.basement {
  border-radius: 24px 24px 0 0;
  min-width: 355px;
  background: #1b414b;
}

.navigation {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #fbfbfb;
}

.yatch-links {
  display: flex;
  gap: 4px;
}

.yatch-link-item {
  border-radius: 8px;
  width: 66px;
  height: 40px;
  background: rgba(251, 251, 251, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .yatch-link-item {
    width: 91px;
  }
}


.social-wrapper {
  display: flex;
  justify-content: center;
}

.socials {
  display: flex;
  gap: 8px;
  justify-content: center;
  width: 88px;
  height: 24px;
}

.svg-link:hover,
.svg-link:focus {
  /* background-color: green; */
}

.svg-link {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #fbfbfb;
}

.footer-message {
  width: 282px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .footer-message {
    width: 640px;
    font-size: 32px;
    margin-top: 96px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-message {
    width: 693px;
  }
}

.footer-legal {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 82px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer-legal {
    font-size: 14px;
    line-height: 1.18;
    margin-top: 99px;
  }
}