.footer-background {
  border-radius: 24px 24px 0 0;
  min-width: 355px;
  height: 412px;
  background: #1b414b;
}

.socials {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.svg-link:hover,
.svg-link:focus {
  background-color: green;
}

.svg-link {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: red;
}