.header-container {
  display: flex;
  align-items: center;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  width: 335px;
  height: 42px;
  background: #fbfbfb;
  padding: 0 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 198px;
}

.header-navigation-list {
  display: none;
}

.header-social-icon-list {
  display: none;
}
.header-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
}

.mobile-button {
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.mobile-icon {
  display: block;
  stroke: #1b414b;
}
