.header-container {
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  width: 235px;
  height: 42px;
  background: #fbfbfb;
  padding: 0 20px;
}

.header-navigation-list {
  display: none;
}

.header-social-icon-list {
  display: none;
}
.header-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
}
