.page-header {
  height: 62px;
}

@media screen and (min-width: 768px) {
  .page-header {
    height: 68px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  min-width: 280px;
  max-width: 335px;
  height: 42px;
  background: #fbfbfb;
  padding: 0 20px;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  z-index: 999;
}

.header-navigation-list {
  display: none;
}

.header-social-icon-list {
  display: none;
}
.header-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
}

.mobile-button {
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.mobile-icon {
  display: block;
  stroke: #1b414b;
}
@media screen and (min-width: 375px) {
  .header-container {
    min-width: 335px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    min-width: 704px;
    height: 48px;
    padding: 0 28px;
  }
  .header-logo {
    font-size: 20px;
    margin-right: 114px;
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .header-navigation-list {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 281px;
  }
  .header-navigation-item {
    flex-basis: calc((100% - 8px) / 3);
  }

  .header-navigation-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: rgba(27, 65, 75, 0.5);
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    padding: 15px 25px;
    transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .header-social-icon-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 8px;
  }
  .mobile-button {
    display: none;
  }
  .header-social-link {
    fill: #1b414b;
    transition: fill cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

@media screen and (min-width: 1280px) {
  .container-page-header {
    padding: 0 100px;
  }
  .header-container {
    min-width: 1080px;
    height: 48px;
    padding: 0 30px;
  }
  .header-logo {
    margin-right: 296px;
  }
  .header-navigation-link:hover,
  .header-navigation-link:focus {
    background-color: #1b414b;
  }
  .header-social-link:hover,
  .header-social-link:focus {
    fill: #062730;
  }
}
