.hero {
  padding-top: 260px;
  padding-bottom: 302px;
  background-image: linear-gradient(
      360deg,
      rgba(17, 19, 31, 0.8) 15.05%,
      rgba(17, 19, 31, 0.39) 75.3%,
      rgba(17, 19, 31, 0) 98.27%
    ),
    url(/img/background-hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: 270%;
  background-position: 50% 61%;
  max-width: 375px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding-top: 280px;
    padding-bottom: 282px;
    background-position: 50% 50%;
    background-size: 200%;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    min-width: 1280px;
    padding-top: 235px;
    padding-bottom: 215px;
    background-position: 50% 48%;
    background-size: 100%;
  }
}

@media (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        360deg,
        rgba(17, 19, 31, 0.8) 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/background-hero/hero@2x.jpg);
    background-size: 270%;
    background-position-y: 61%;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        360deg,
        rgba(17, 19, 31, 0.8) 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/background-hero/hero@2x.jpg);
    background-size: 200%;
    background-position-y: 50%;
  }
}

@media screen and (min-width: 1280px) and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        360deg,
        rgba(17, 19, 31, 0.8) 15.05%,
        rgba(17, 19, 31, 0.39) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url(/img/background-hero/hero@2x.jpg);
    background-size: 100%;
    background-position-y: 48%;
  }
}
.hero-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .hero-title {
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    color: #fbfbfb;
    max-width: 704px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    color: #fbfbfb;
    max-width: 1001px;
  }
}

.hero-paragraf {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
  .hero-paragraf {
    font-size: 16px;
    line-height: 22px;
    line-height: 1.4;
    text-align: center;
    color: rgba(251, 251, 251, 0.7);
    max-width: 597px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
}

/*  */
.hero-button {
  display: block;
  border-radius: 15px;
  padding: 14px 32px;
  width: 141px;
  height: 46px;
  background-color: #1b414b;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .hero-button {
    padding: 16px 40px;
    width: 179px;
    height: 52px;
    font-size: 18px;
    line-height: 20px;
    line-height: 1.1;
  }
}

.hero-button:hover,
.hero-button:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}
