.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#0e1823; 
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;    
}
.holder-mobile-menu {
    position: relative;
}
.wrap-mobile-menu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    max-width: 335px;
    height: 42px;
    background: #fbfbfb;
    padding: 0 20px;
    margin: 0;
    top: 16px;
    left: 20px;
    right: 20px;
  }
  .mobile-logo {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #1b414b;
  }
  .btn-mobile-menu {
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
  }
  .icon-mobile-menu {
    display: block;
    stroke: #1b414b;
  }
  .nav-mobile-menu {
    position: absolute;
    top: 259px;
    left: 50%;
    transform: translate(-50%);
    width: 91px;
    height: 128px;
  }
  .list-mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .list-mobile-menu li:first-child {
    background-color: #1b414b;
    border-radius: 8px;
  }
  .link-mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: 400;
    font-size: 9px;
    line-height: 130%;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    padding: 15px 25px;
    background-color: rgba(27, 65, 75, 0.5);
  }

.social-nav-mobile-menu {
    position: absolute;
    width: 88px;
    height: 24px;
    top: 748px;
    left: 50%;
    transform: translate(-50%);
}
.social-list-mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.social-icon-mobile-menu {
    fill: #fbfbfb;
}
