img {
  display: block;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

.reviews {
  margin-bottom: 80px;
}

.reviews-div {
}

.reviews-title-div {
  margin-bottom: 40px;
}

.reviews-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin: 0 auto;
  margin-bottom: 25px;
  max-width: 335px;
}

.reviews-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
  max-width: 335px;
  margin: 0 auto;
}

.reviews-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32px;
}

.reviews-item {
  background-color: #fbfbfb;
  border-radius: 24px;
  padding: 32px 8px;
  max-width: 335px;
  min-height: 282px;
  margin: 0 auto;
}
.reviews-item-img {
  margin: 0 auto;
  padding-bottom: 24px;
}

.reviews-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  margin-bottom: 8px;
}

.reviews-name-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
  max-width: 303px;
  margin: 0 auto;
}

.victoria {
  display: none;
}

.ihor {
  display: none;
}

@media screen and (min-width: 768px) {
  .victoria {
    display: block;
  }
  .reviews-title {
    font-size: 48px;
    max-width: 704px;
  }
  .reviews-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    max-width: 571px;
  }

  .reviews-item {
    width: calc((100% - 32px * 1) / 2);
    max-width: 336px;
  }
  .reviews-name-text {
    max-width: 304px;
  }
}

@media screen and (min-width: 1280px) {
  .ihor {
    display: block;
  }
  .reviews-title {
    max-width: 854px;
  }
  .reviews-item {
    width: calc((100% - 32px * 2) / 3);
    max-width: 376px;
    padding: 32px 28px;
  }
  .reviews-name-text {
    max-width: 320px;
  }
}
