.yachts-title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
  max-width: 319px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .yachts-title {
    max-width: 645px;
    margin-bottom: 75px;

    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .yachts-title {
    max-width: 714px;
  }
  
}

.yachts-item-container {
  
  max-width: 335px;
  height: 478px;
  margin-bottom: 40px;
  border-radius: 24px;

  background-color: #fbfbfb;

}

@media screen and (min-width: 768px) {
  .yachts-item-container {
    
  }
}